.inner-container {
  gap: 1.5rem;
  background: rgba(13, 148, 136, 0.3) 217.91%;
  padding: 2rem;
  border-radius: 10px;
  border: 6px solid rgba(13, 148, 136, 0.8);
  text-align: center;
}
.inner-container .primaryText {
  color: black;
  font-weight: 600;
}
.inner-container .secondaryText {
  color: black;
}
.inner-container .button {
  background: linear-gradient(97.05deg, #131110 0.76%, #48b5aa 100%);
  border: 2px solid white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
