.App{
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1)
{
    /*background: var(--black);*/
    position: relative;
}

.white-gradient{
    position: absolute;
    margin-top: 100px;
    width: 20rem;
    height: 15rem;
    background: var(--blue-gradient);
    filter: blur(100px);
    border-radius: 100px;
}

